<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyxx.sys.mapper.SysHandleLogMapper">

    <select id="listSysHandleLogVO" resultType="com.zyxx.sys.vo.SysHandleLogVO">
        SELECT
            a.*,
            b.`name` AS create_user_name
        FROM
            sys_handle_log a
            LEFT JOIN sys_user_info b ON ( a.create_user = b.id )
        ${ew.customSqlSegment}
    </select>
</mapper>
