<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyxx.sys.mapper.SysPermissionInfoMapper">

    <select id="listPermissionInfoByUserId" resultType="com.zyxx.sys.pojo.MenuPojo">
        SELECT
            a.id,
            a.pid,
            a.`name` AS title,
            a.icon,
            a.href,
            a.type,
            a.target
        FROM
            sys_permission_info a
        WHERE
            a.del_flag = 0
            AND a.`status` = 0
            AND a.type &lt; 2
            AND EXISTS (
            SELECT
                rp.permission_id
            FROM
                sys_role_permission rp
                LEFT JOIN sys_role_info ri ON ( rp.role_id = ri.id )
            WHERE
                ri.del_flag = 0
                AND ri.`status` = 0
                AND EXISTS ( SELECT ur.role_id FROM sys_user_role ur WHERE ur.user_id = #{id} AND rp.role_id = ur.role_id )
            AND a.id = rp.permission_id
            )
        ORDER BY
            a.type,
            a.pid,
            a.sort
    </select>

    <select id="listPermissionForTree" resultType="com.zyxx.sys.pojo.LayuiTreePojo">
        SELECT
            a.pid,
            a.id,
            a.`name` AS title,
            a.type,
            ( CASE WHEN LENGTH(b.role_id) > 0 THEN 1 ELSE 0 END ) AS checked
        FROM
            sys_permission_info a
            LEFT JOIN sys_role_permission b ON ( a.id = b.permission_id AND b.role_id = ${id} )
        WHERE
            a.del_flag = 0
            AND a.`status` = 0
        ORDER BY
            a.type,
            a.pid,
            a.sort
    </select>
</mapper>