<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>修改密码</title>
    <link rel="icon" th:href="@{/img/icon.ico}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;padding-right: 10px;line-height: 38px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <form class="layui-form" action="" lay-filter="formDemo">
            <div class="layui-form layuimini-form">
                <div class="layui-form-item">
                    <label class="layui-form-label required">原密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="oldPassword" lay-verify="required" lay-reqtext="请输入旧密码" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" lay-verify="required|password" lay-reqtext="请输入新密码" placeholder="请输入" class="layui-input">
                        <tip>为了您的账户安全，请尽量不要使用简易密码</tip>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label required">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="restPassword" lay-verify="required|password" lay-reqtext="请再次输入新密码" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="saveBtn"> 保存 </button>
                        <tip>修改登录密码后，需要重新登录</tip>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>

<script type="text/javascript" th:inline="javascript">

    layui.use(['form','notice'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,
            notice = layui.notice;

        var ctxPath = /*[[@{/}]]*/;
        var baseUrl = ctxPath + 'sys/sys-user-info/';

        form.verify({
            password: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
        });

        // 监听提交
        form.on('submit(saveBtn)', function (res) {
            var data = res.field;
            if(data.password == data.oldPassword){
                notice.error("新密码不能与旧密码相同！");
                return false;
            }
            if(data.password != data.restPassword){
                notice.error("两次密码输入不一致！");
                return false;
            }
            var index = layer.load();
            $.ajax({
                url: baseUrl + 'updatePassword/' + data.oldPassword + '/' + data.password,
                type: 'post',
                dataType: 'json',
                contentType:"application/json",
                success: function (res) {
                    layer.close(index);
                    if (200 == res.code) {
                        notice.success(res.msg);
                        setTimeout(function () {
                            window.location.href="/loginOut"
                        },1500)
                    }
                    else {
                        notice.warning(res.msg);
                    }
                },
                error: function (res) {
                    layer.close(index);
                    notice.error("服务器异常！");
                }
            });
            return false;
        });
    });
</script>
</body>
</html>